body {
  font-family: Helvetica;
  font-size: 30px;
}

.col {
  border: 1px solid black;
  border-collapse: collapse;
  height: 60px;
  width: 60px;
  font-size: 35px;
  text-align: center;
}

.progress_bar {
  height: 24px;
  width: 318px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.firstplayer {
  background-color: rgb(124, 252, 0);
}

.secondplayer {
  background-color: rgb(250, 128, 114);
}
